@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

h3,
h4 {
    font-weight: 400;
    font-family: "roboto", sans-serif;
    margin-top: 60px;
    color: #000000;
    font-size: 35px;
}


/*-----Background Colors-----*/

footer {
    background-color: #979797;
    width: 100%;

}

header {
    background: rgba(1, 1, 90, 0.5);
}

#why-book-me {

    background-color: #ff7e33;
    color: #ffffff
}

/*-----Header-----*/

header {
    position: fixed;
    z-index: 50;
    height: 90px;
    width: 100%;
}

.navbar-nav {
    text-align: center;
}

.logo {
    text-decoration: none;
}

.navbar {
    padding: 0.5rem 0rem;
    font-size:25px;
}

.navbar li {
    list-style: none;
}

.navbar li a {
    text-align: right;
    padding-right: 10px;
}

.header-title {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #fff;
    padding-top: 400px;
}


/*-----navigation-----*/

/*-----Hero image-----*/

#bg-hero-image {
    background: url(../images/toddpromo4.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;

}

/*-----about me-----*/

.about-me {
    height: 300px;
}



.about-me p {
    margin-top: 20px;
    text-align: center;
}

/*-----why book me-----*/


#why-book-me h3 {
    color: #fff;
}

#why-book-me h4 {
    color: #fff;
    margin: 5px 0;
}

#why-book-me #reasons-left {
    width: 33%;
    text-align: right;
}

#reasons-center {
    width: 33%;
    width: 250px;
    height: 250px;

    background: url('/assets/images/toddpromo300x300.jpg') no-repeat center center;
    border-radius: 50% 0 50% 0;
    margin: 50px auto;
    padding: 0 0 0 0;

}

#why-book-me i {

    font-size: 40px;
    margin-bottom: 20px;
    color: #ff0634;
}

.why-book-me-title {
    margin: 20px 0 20px 0;
}

#reasons-right {
    width: 33%;
}

/*-----reviews-----*/

.reviews {
    text-align: center;
    padding-bottom: 20px;
}

.reviews i {
    color: yellow;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 40px;
}



/*-----Footer-----*/

footer {
    padding: 50px 0 50px 0;
    border-top: 1px solid;
}

.socials a i {
    float: right;
    padding-right: 50px;
    color: #fff;
    font-size: 30px;
}

.cookies-privacy-link {
    padding-left: 50px;
    color: #fff;
}

.socials-fb:hover {
    color: #3b5998;
}

.socials-insta:hover {
    color: #cd486b;
}

.socials-yt:hover {
    color: #c4302b;
}

/*-----general-----*/


a:hover {
    color: rgba(1, 1, 90, 0.8);
}

.uppercase {
    text-transform: uppercase;
}

hr {
    border: 1px solid rgba(1, 1, 90, 0.5);
    margin: 0;
}

.title {
    padding: 30px 0 20px 0;
}


/*-----Setlist.HTML-----*/

.setlist h3 {
    padding-left: 15px;
}

.setlist-download {
    padding: 50px 0 50px 0;
}

/*-----contact.html-----*/

.contact-form {
    margin: 0 0 0 0;
}

.contact-alt {
    margin: 30px 0;

}

.contact-table {
    margin: 30px auto;
    text-align: left;
}


.top-page-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 150px;
    padding-bottom: 20px;
    clear: both;
}

.center-form {
    width: 50%;
    margin: 0 auto;
}

.center-form input {
    margin-bottom: 10px;
}

.btn-primary {
    margin-top: 20px;
    width: 20%;
}

.btn-primary:hover {
    background-color: rgba(1, 1, 90, 0.5);
}

/*-----tour.html-----*/

.tour-dates {
    margin: 50px 0;
}

.timeline-item {
    padding: 2em 2em 0em 2em;
    position: relative;
    color: #000000;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: rgba(1, 1, 90, 0.8);
}

.history-items {
    margin-bottom: 30px;
}

/*-----media.html-----*/

.media-image {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.media-top-links {
    text-align: center;
    font-size: 20px;
    margin: 30px;
    margin-top: 10px;
}

video {
    margin-bottom: 20px;
}

/*-----media queries-----*/

@media screen and (max-width:992px) {

    #why-book-me #reasons-left {
        text-align: center;
    }

    #why-book-me #reasons-right {
        text-align: center;
    }

    .about-me {
        width: 80%;
        margin: 0 auto;
    }

}

@media screen and (max-width:600px) {
    #why-book-me h4 {
        margin-bottom: 10px;
        }


    .socials a i {
        padding-right: 5px;
        }

    .cookies-privacy-link {
        padding-left: 5px;
        }
    
    video {
        height:100%;
        width:100%;
    }

    header {
        height: auto;
    }

    .navbar-nav {
    background: rgba(1, 1, 90, 0.5);
}

    .header-title {
        padding-top: 350px;
    }

    hr {
        margin-top: 20px;
    }

}


